.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url(https://dnz.azureedge.net/cdn/headerImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  height: 600px;
}

.logo {
  display: block;
  margin-top: 21px;
  width: 150px;
  height: 160px;
  z-index: 900;
  position: relative;
  background-image: url(/assets/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}
